$sizeAbout: 10px;
$borderTest: 1px solid tomato;
$colorAboutBlack: black;
$colorAboutLightGrey: lightgrey;
$borderMajorColorAbout: 2px solid $colorMajorYellow;

.about {
   background-image: url("/src/images/bg_2.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   max-height: 100%;

   .about-top {
      display: flex;
      justify-content: space-between;

      .wrap-img-gallery {
         width: 25%;
         overflow: hidden;

         img {
            max-width: 100%;
            height: 100%;
            object-fit: cover;
         }
      }
   }

   .about-botton {
      width: 100%;
      position: relative;

      .about-botton-modal {
         background-color: $colorAboutBlack;
         opacity: 0.6;
         position:absolute;
         z-index: 0;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
      }

      .wrap-cards {
         max-width: $size-container; 
         margin: auto;
         display: flex;
         justify-content: center;    
         position: relative;
         top: 0;
         right: 0;
         z-index: 1;

         .card-goal {
            width: $sizeAbout * 24;
            height: $sizeAbout * 24.5;
            margin-top: $sizeAbout * 7;
            display: flex;
            flex-direction: column;
            align-items: center;

            .card-inner-rect {
               width: $sizeAbout * 9;
               height: $sizeAbout * 9;
               border: $borderMajorColorAbout;
               text-align: center;

               i {
                  color: $colorMajorYellow;
                  font-size: $font-size * 3;
                  margin: $sizeAbout * 2 0;
               }

               img{
                  max-width: 50%;                 
                  margin: $sizeAbout * 2 0;
               }
            }

            p {
               font-family: "Roboto", sans-serif;

               &:nth-child(2) {
                  color: $colorMajorYellow;
                  font-size: $font-size * 2.2;
                  text-align: center;
                  margin-bottom: 0;
               }

               &:nth-child(3) {
                  color: $colorAboutLightGrey;
                  font-size: $font-size * 1.2;
                  text-align: center;
               }
            }
         }
      }
   }
}