.container {
  width: $size-container;
  margin: auto;
}

.header {
  background: $colorMajorBlack;
  height: 10vh;
  @include display;
  font-family: $font-family;
  font-size: calc($font-size / 1.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
  .menu {
    color: $colorMajorWhite;
    width: 40%;

    &__list {
      @include display;
      justify-content: space-evenly;
      opacity: .7;
    }

    a:active {
      color: $colorMajorYellow;
    }

  }
.logo img{
  width: 80%;
}


@media (max-width: 650px) {

  .container {
    width: calc($size-container/2);
  }

}