.container {
  width: $size-container;
  margin: auto;
}

.header {
  background: $colorMajorBlack;
  height: 10vh;
  @include display;
  font-family: $font-family;
  font-size: calc($font-size / 1.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
  .menu {
    color: $colorMajorWhite;
    width: 40%;

    &__list {
      @include display;
      justify-content: space-evenly;
      opacity: .8;
    }

    a:active {
      color: $colorMajorYellow;
    }

  }
.logo img{
  width: 80%;
}
body._pc .menu__list > li:hover{

}

@media (max-width: 767px) {

}