
*{
    margin: 0;

}
.menu__listOfProducts-pizza img{
    width: 305px;
    height: 219px;
}

.menu__listOfProducts-pizza{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: stretch;
    max-width: 100%;
}

.menu__listOfProducts-wrapper{
    width: 310px;
    height: 250px;
    opacity: 0.9;
}
.menu__listOfProducts-wrapper h3{
    color:rgb(253, 253, 253);
    font-size: 23px;
    padding: 15px;
}
.menu__listOfProducts-wrapper p{
    font-size: 20px;
    color:rgb(153, 151, 151);
    padding: 15px;
    max-width: 240px;
}

.menu__header{
    text-align: center;
    height: 250px;
    padding-top: 55px;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.menu__header h3{
color:rgb(255, 255, 255);
font-size: 35px;
padding-bottom: 20px;
}
.menu__header p{
    color:rgb(153, 151, 151);
    text-align: center;
    font-size: 18px;
    max-width: 642px;
}
.div__price-wrapper p{
   color:rgb(218, 135, 12);
   font-size: 23px;
}
.div__price-wrapper{
    display: flex;
}
.div__price-wrapper button {
    background-color:rgb(46, 43, 43);
    color:rgb(253, 253, 253);
    border: 1px solid rgb(255, 255, 255);
    font-size: 15px;
    padding: 0 25px;
}



