$font-size: 16px;
$font-family: "Inter", sans-serif;
$colorMajorBlack: #000000;
$colorMajorYellow: #fac564;
$colorMajorWhite: #fffffe;
$size-container: 1280px;


// font-family: 'Shantell Sans', cursive;
// font-family: 'Roboto', sans-serif;
// font-family: 'Delicious Handrawn', cursive;


$font-familyDelicious: "Delicious Handrawn", cursive;
$font-familyShantell: "Shantell Sans", cursive;
$font-familyRoboto: "Roboto", sans-serif;

