$font-size: 16px;
$font-family: "Inter", sans-serif;
$colorMajorBlack: #000000;
$colorMajorYellow: #fac564;
$colorMajorWhite: #fffffe;
$size-container: 1280px;
$font-familyDelicious: 'Delicious Handrawn', cursive;
$font-familyShantell: 'Shantell Sans', cursive;
$font-familyRoboto: 'Roboto', sans-serif;
$font-familyNothing: 'Nothing You Could Do', sans-serif;



