@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter.ttf");
}

// @import "header";
// @import "slider";
// @import "services";
// @import "blog";
// @import "about";
// @import "contact";
// @import "footer";

@import "variables";
