@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter.ttf");
}

@import "variables";
@import "restyle";
@import "mixin";
@import "header";
@import "slider";
// @import "menu";
@import "menu/cart";
@import "menu/llistOfProducts";
@import "menu/menu_pricing";
@import "menu/selectProducts";
@import "home";
// @import "services";
@import "blog";
@import "about";
@import "contact";
@import "mapform";
// @import "footer";








