@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter.ttf");
}

@import "variables";
@import "restyle";
@import "mixin";
@import "header";
@import "slider";
// @import "menu";
// @import "services";
// @import "blog";
// @import "about";
<<<<<<< HEAD
// @import "contact";
// @import "footer";
=======
@import "contact";
@import "mapform";
// @import "footer";
>>>>>>> services
