*{
    margin: 0;

}
.menu__cart img{
    width: 50px;
    height: 50px;
    position: fixed;
   top:108px;
   right: 34px;
   z-index: 1001;
}
.menu__cart {
    position: absolute;
}

.menu-cart__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.menu-cart__modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 99998;
    background-color: rgba(0, 0, 0, .3);
    display: grid;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    transition: opacity .4s, visibility .4s;
}

.menu-cart-modal__box {
    position: relative;
    max-width: 500px;
    padding: 45px;
    z-index: 1;
    margin: 30px 15px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 17px -7px rgba(34, 60, 80, 0.2);
    transform: scale(0);
    transition: transform .8s;
}

.modal__close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    border: none;
    background-color: transparent;
    padding: 5px;
    cursor: pointer;
}

.modal__close-btn svg path {
    transition: fill .4s;
}

.modal__close-btn:hover svg path {
    fill: rgb(255, 81, 0);
}

.modal__close-btn:active svg path {
    fill: rgb(186, 53, 0);
}

.menu-cart__modal.open {
    visibility: visible;
    opacity: 1;
}

.menu-cart__modal.open .menu-cart-modal__box {
    transform: scale(1);
    background-color:rgb(235, 145, 60);
   box-shadow:12px 12px 25px rgb(255, 144, 17);
}

.cart-total-price__wrapper{
    display: flex;
    padding-top: 30px;
    padding-bottom: 40px;
}
.cart-total-price-wrapper__price{
    padding-left: 20px;
}
.cartNameProduct{
    font-size: 20px;
    padding-top: 20px;
}
*button:hover{
    color : rgb(243, 135, 12);
     background-color : " ";
    border : 1px solid rgb(243, 135, 12);
    cursor: pointer;

}
.modal__box-products p {
    padding: 5px;
}
.modal-box__cart-btn{
    padding: 5px;
    background-color:rgb(10, 10, 10);
    color:rgb(243, 135, 12);
    border:1px solid  rgb(243, 135, 12);
}
@media (min-width: 483px) and (max-width:1050px) {
    .menu__cart img{
        right:auto;
    }
    
}
