
*{
    margin: 0;

}
.menu__listOfProducts-pizza img{
   max-height: 258px;
   width: 326px;
}

.menu__listOfProducts-pizza{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
}

.menu__listOfProducts-wrapper{
   display: flex;
    opacity: 0.9;
}
.menu__listOfProducts-wrapper h3{
    color:rgb(253, 253, 253);
    font-size: 23px;
    padding: 15px;
}
.menu__listOfProducts-wrapper p{
    font-size:  20px;
    color:rgb(153, 151, 151);
    padding: 15px;
    max-width: 289px;
}
.menu__listOfProducts-wrapper button:hover{
    color:rgb(255, 124, 17);;
    background-color:rgb(0, 0, 0);
    border: 1px solid rgb(255, 124, 17);
}

.menu__header{
    text-align: center;
    height: 250px;
    padding-top: 55px;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.menu__header h3{
color:rgb(255, 255, 255);
font-size: 35px;
padding-bottom: 20px;
}
.menu__header p{
    color:rgb(153, 151, 151);
    text-align: center;
    font-size: 18px;
    max-width: 642px;
}
.div__price-wrapper p{
   color:rgb(218, 135, 12);
   font-size:  $font-size;
}
.div__price-wrapper{
    display: flex;
    align-items:baseline;
    padding-top: 30px;
}
.div__price-wrapper button {
    background-color:rgb(46, 43, 43);
    color:rgb(253, 253, 253);
    border: 1px solid rgb(255, 255, 255);
    font-size:  $font-size;
    padding:  15px;
    max-height: 33px;
    align-items:center;
    display: flex;
}




