*{
    margin: 0;

}
#menu__pricing {
margin-top: 100px;
}
.menu-pricing__header {
    text-align: center;
   
}
.menu-pricing__header h3{
    color:rgb(255, 255, 255);
    font-size: 30px;
}
.menu-pricing__header p{
    color:rgb(179, 174, 174);
    font-size: $font-size;
    max-width: 550px;
    margin: 0 auto;
    padding-bottom: 100px;
}
.menu-pricing__header img{
    padding:  30px 0 ;
}

.menu-pricing__price{
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
}
.menu-item img{
    max-width: 80px;
}
.menu-item{
    display: flex;
    padding:  10px 27px;
    
}
.wrapper__div-image{
    display: flex;
    flex-direction: column;
}
.wrapper-nameAnd-price{
    display: flex;
    justify-content: space-between;
}
.name__menu-pizza{
   color:rgb(211, 209, 209);
   border-bottom: 2px dotted rgb(243, 147, 3);
   padding-right: 215px;
  border-bottom-style:dashed;
  font-size: 19px;
}
.p__price{
    color:rgb(243, 147, 3);
    padding-top: 10px;
}
.description__pizza{
    padding-top: 20px;
    color:rgb(148, 148, 148);
    font-size: $font-size;
}