*{
    margin: 0;

}

.menu-section{
    background-image: url(../images/bg_4.jpg);
    background-size: contain;
}
.menu__container-select-food{
    display: grid;
    grid-template-columns: 700px 2fr;
    padding-top: 150px ;
    padding-bottom: 100px;
}
.menu-container-select-food__img{
    grid-column: 1;
}
.menu-container-select-food__img img {
    max-width: 700px;
    height: 100%
}
.menu-container-select__section{
    grid-column: 2;
    padding-bottom: 16px;
}


.menu-container-select-section__list{
    padding-bottom: 30px;
}

.select-section-list__item{
    display: flex;
    padding-left: 60px;
}

.select-section-list__item li{
    color:rgb(243, 135, 12);
    list-style: none;
    border: 1px solid rgb(243, 135, 12);
    padding: 25px;
    margin: 5px;
    font-size: $font-size;
}

.menu-container-select__section img{
    max-width: 200px;
    max-height: 186px;
}
.menu-container-select-section__item-foods {
   
    display: flex;
    justify-content: space-between;
    padding-left: 115px;
    padding-right: 50px;
}
.menu-container-select-section__item-foods button:hover{
    color:rgb(255, 124, 17);;
    background-color:rgb(0, 0, 0);
    border: 1px solid rgb(255, 124, 17);
}

@media (max-width:1405px) {
    .menu-container-select-section__item-foods img{
        max-width: 100px;
        max-height: 93.2px;
      
    }
    .menu-container-select-section__item-foods p{
       font-family:  $font-size;
      
    }
    .menu-container-select-section__item-foods button{
        font-size: 11px;
        padding: 0;
       
      
    }
    .menu-container-select-section__list li{
        max-width: 20px;
        display: flex;
        justify-content: center;
    }
    .menu-container-select-section__item-foods{
        padding-left: 0px;
    }
  }
  @media (max-width:1300px) {
    .menu-container-select-food__img img{
        max-width: 400px;
        max-height: 400px;
    }
    .menu__container-select-food{
        grid-template-columns: 400px 700px;

    }
    .menu-container-select-food__img{
        
    }
    .menu-container-select-section{
        
    }
    
  }
  @media (max-width : 1050px) {
    .menu-container-select-section__item-foods img{
        max-width: 50px;
    }
    .menu-container-select-section__item-foods p{
        font-size: 10px;
        max-width: 100px;
      
    }
    .menu-container-select-section__item-foods{
        justify-content: flex-start;
        padding-left: 50px;
    }
    
  }
  @media (max-width:770px) {
    .menu__container-select-food{
        grid-template-columns: 10px 100%;
       

    }
    .menu-container-select-section__item-foods{
      
        
    }
    .menu-container-select-food__img img{
     
        visibility: hidden;
       
    }
    .menu-container-select__section{
        margin: 0 auto;
    }
    
  }
.descriptionOfProducts__wrapper {
    max-width: 269px;
    margin: 0 auto;
}
.menu-container-select-section__item-foods button{
    background-color:rgb(22, 22, 22);
    color:rgb(252, 251, 252);
    padding: 15px;
    border: 1px solid rgb(245, 244, 245);
   
  
}
.div__itemsMenu0{
    
    text-align: center;
}
.div__itemsMenu1{
    
    text-align: center;
}
.div__itemsMenu2{
    
    text-align: center;
}

.name-pizza{
    color:rgb(250, 250, 250);
    font-size: 25px;
    padding-top: 20px;
}
.description-pizza{
    color:rgb(167, 161, 167);
    
    padding: 20px 0 ;
}
.pizza-price{
    color:rgb(255, 152, 17);
    font-size:  $font-size;
    padding: 20px 0;
}


.active {
    color:rgb(5, 5, 5);
    background-color:rgb(0, 176, 245);
    border:none;
}

